@media (max-width: 1100px) {
    main .seccion-series {
        margin: 30px 10px auto 10px;
    }

    .tarjeta-serie .info-tarjetas .btn-vermas {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 12px 20px;
    }

    #contenido-principal {
    margin-top: 80px;
}

    .buscador input {
        width: 180px;
    }

    .texto-superpuesto h3 {
        font-size: 1.6rem;
    }

    .texto-superpuesto p {
        font-size: 0.9rem;
    }

    .titulo-seccion {
        padding: 15px 15px 0 15px;
    }

    .form-filtros {
        grid-template-columns: repeat(2, 1fr);
        padding: 15px;
    }

    .grid-series {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 0px 15px;
    }

    .tarjeta-serie h3 {
        font-size: 1.1rem;
    }

    #seccion-reproductor {
        flex-direction: column;
    }

    .lista-capitulos {
        width: 100%;
        border-left: none;
        border-top: 2px solid var(--color-secundario);
        padding-left: 0;
        padding-top: 10px;
        height: auto;
        max-height: 320px;
    }
}