@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

/* PALETA DE COLORES */
:root {
    --color-primario: #162936;
    --color-secundario: #3b5265;
    --color-terciario: #27e9b5;
    --color-terciario-A50: #27e9b58b;
    --color-cuarternario: #051824;

    --color-background-section: #062335;

    --texto-claro: #ffffff;
    --texto-gris: #d0d0d0;

    --radius: 10px;
    --altura-video: 450px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Oswald", sans-serif;
    background: var(--color-cuarternario);
    color: var(--texto-claro);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
        margin-top: 100px;
}

main section {
    margin-top: 30px;
}

/* Navegacion*/
header {
    background: var(--color-primario);
    border-bottom: 3px solid var(--color-terciario);
    padding: 12px 40px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(6px);
    transition: all 0.3s ease-in-out;
}

.scroll-activo {
    padding: 6px 40px;
    background: rgba(22, 41, 54, 0.5);
    border-bottom-color: var(--color-terciario);
}

#navegacion #nav-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navegacion #nav-vertical {
    display: none;
}

.logo img {
    height: 45px;
}

.buscador {
    display: block;
}

.buscador input {
    background: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    padding: 8px 12px;
    width: 280px;
    border-radius: var(--radius);
    color: var(--texto-claro);
}

.buscador input::placeholder {
    color: var(--texto-gris);
}

/* Login y registro */
section #top-series-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 40px 20px; */
}

.login-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* Inputs del login */
.login-input input {
    width: 100%;
    background: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    padding: 8px 12px;
    border-radius: var(--radius);
    color: var(--texto-claro);
    font-size: 1rem;
}

.login-input input::placeholder {
    color: var(--texto-gris);
    text-align: center;
}

.login-input label {
    text-align: center;
    color: var(--color-terciario);
    font-weight: bold;
    width: 100%;
    display: block;
}


.btn-login {
    display: block;
    margin: 20px auto 20px auto;
    padding: 10px 25px;
    border: none;
    border-radius: var(--radius);
    background: var(--color-terciario);
    color: var(--color-cuarternario);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    filter: brightness(1.2);
}

/* Icono Usuario */
.iconUser button {
    background: none;
    border: none;
}

.iconUser img {
    height: 36px;
    cursor: pointer;
    transition: 0.3s;
}

.iconUser img:hover {
    /* filter: brightness(1.25); */
    transform: scale(1.1);
    filter: drop-shadow(0 0 8px var(--color-terciario));
}

/* SECCIÓN DESTACADA*/
/* #contenido-principal {
    margin-top: 100px;
} */

.titulo-seccion {
    font-size: 2rem;
    width: 100%;
    margin: auto;
}

.seccion-destacados {
    margin: auto;
    max-width: 1100px;
}

.contenedor-portada {
    position: relative;
    border-radius: var(--radius);
    overflow: hidden;
}

.contenedor-portada img {
    width: 100%;
    display: block;
    animation: zoomLento 12s ease-in-out infinite alternate;
}

@keyframes zoomLento {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.texto-superpuesto {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 70%, transparent) 100%;
}

.texto-superpuesto h3 {
    font-size: 2rem;
    color: var(--color-terciario);
}

.texto-superpuesto p {
    max-width: 600px;
    font-size: 1rem;
    color: var(--texto-gris);
    margin: 10px 0 15px;
}

.acciones-portada button {
    background: var(--color-terciario);
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: var(--radius);
    cursor: pointer;
    color: var(--color-cuarternario);
    font-weight: 600;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    transition: transform 0.25s ease;
}

/* FILTROS Seccion Series */
.seccion-series {
    margin: 30px auto;
    max-width: 1100px;
    background: var(--color-background-section);
    border-radius: var(--radius);
    border: 2px solid var(--color-secundario);
}

.form-filtros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: auto;
}

.campo-filtro label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
    color: var(--color-terciario);
}

.campo-filtro select {
    width: 100%;
    padding: 10px;
    background: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    color: var(--texto-claro);
    border-radius: var(--radius);
}

.campo-filtro select:hover {
    box-shadow: 0 0 10px var(--color-terciario);
    transition: 0.3s;
}

.campoLlenar:hover {
    box-shadow: 0 0 20px var(--color-terciario);
    transition: 0.3s;
}


.form-filtros button {
    background: var(--color-terciario);
    padding: 12px;
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    color: var(--color-cuarternario);
}

/* TOP SERIES */
.titulo-seccion-contenedor {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-seccion-contenedor h2,
.titulo-seccion-contenedor .btn-vermas {
    margin: 0;
}

#top-series-titulo {
    font-size: 2rem;
    text-align: center;
    color: var(--color-terciario);
}

.descripcion-seccion {
    text-align: center;
    color: var(--texto-gris);
    margin-bottom: 15px;
}

#show-login,
#show-register {
    color: var(--color-terciario);
}

#show-login:hover,
#show-register:hover {
    cursor: pointer;
    font-size: 1.15rem;
    transition: font-size 0.5s ease;
}
/* #show-login::after,
#show-register::after {
} */

a {
    text-decoration: none;
}

.btn-vermas {
    display: block;
    margin: 0 auto 10px;
    padding: 10px 25px;
    border: none;
    border-radius: var(--radius);
    background: var(--color-terciario);
    color: var(--color-cuarternario);
    font-weight: bold;
    transition: 0.3s;
}

/* Tarjetas */
.grid-series {
    position: relative;
    max-width: 1100px;
    min-height: 500px;
    padding: 0px 20px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 22px;
}

.tarjeta-serie {
    max-height: 500px;
    background: var(--color-primario);
    border: 1px solid var(--color-secundario);
    border-radius: var(--radius);
    padding: 15px;
    text-align: center;
    display: block;
    transform: translateY(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta-serie:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 18px var(--color-terciario-A50);
}

.tarjeta-serie .img-portada {
    width: 100%;
    height: 60%;
    overflow: hidden;
    border-radius: var(--radius);
    margin-bottom: 10px;
}

.tarjeta-serie .img-portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--radius);
    transition: transform 0.3s;
}

.tarjeta-serie:hover .img-portada img {
    transform: scale(1.1);
}

.tarjeta-serie h3,
.tarjeta-serie p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tarjeta-serie h3 {
    font-size: 1.3rem;
    color: var(--color-terciario);
    -webkit-line-clamp: 1;
}

.tarjeta-serie p {
    font-size: 0.95rem;
    color: var(--texto-gris);
    text-align: left;
    -webkit-line-clamp: 3;
}

.tarjeta-serie .info-tarjetas {
    height: 40%;
}

.tarjeta-serie .info-tarjetas .btn-vermas {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.85rem;
    width: 50%;
    margin-bottom: 30px;
}

.tarjeta-serie button:hover {
    filter: brightness(1.1);
}

/* FOOTER */
.estilo-footer {
    background: var(--color-primario);
    border-top: 3px solid var(--color-terciario);
    padding: 25px;
    /* margin-top: 40px; */
    text-align: center;
    width: 100%;
}

footer p {
    color: var(--texto-gris);
    margin-bottom: 15px;
}

.sociales a img {
    width: 28px;
    margin: 0 6px;
    transition: transform 0.25s ease;
}

.sociales a img:hover {
    transform: scale(1.3);
    /* box-shadow: 0 0 10px var(--color-terciario); */
    filter: drop-shadow(0 0 8px var(--color-terciario));
}

/* REPRODUCTOR */
.contenedor-reproductor {
    display: flex;
    gap: 20px;
    height: var(--altura-video);
    padding: 20px;
}

.contenedor-video {
    flex: 4;
    width: 100%;
    overflow: hidden; 
}

.contenedor-video iframe {
    width: 100%;
    height: 100%;
}

.lista-capitulos {
    flex: 2;
    scrollbar-width: thin;
    scrollbar-color: var(--color-terciario) var(--color-primario);
    background: var(--color-primario);
    border: 2px solid var(--color-secundario);
    border-radius: var(--radius);
    overflow-y: auto;
    overflow-x: hidden;
}

.titulo-lista-capitulos {
    position: sticky;
    top: 0;
    background: var(--color-primario);
    color: var(--color-terciario);
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 2px solid var(--color-terciario);
    z-index: 10;
}

.lista-capitulos ul {
    list-style: none;
    margin: 0;
    padding: 10px 10px;
    gap: 20px;
}

.capitulos {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border: 2px solid var(--color-secundario);
    border-radius: var(--radius);
    margin-bottom: 10px;
    background: var(--color-cuarternario);
    cursor: pointer;
    transition: background 0.2s ease;
}

.capitulos:hover {
    background: var(--color-secundario);
}

/* Miniatura */
.capitulos img {
    flex: 2;
    width: 100%;
    height: 50px;
    object-fit: cover;
    border-radius: var(--radius);
    border: 1px solid var(--color-terciario);
    margin-right: 15px;
}

.capitulos div{
    flex: 4;
}

/* Texto del capítulo */
.numero-capitulo, .titulo-capitulo{
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.numero-capitulo {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--color-terciario);
}

.titulo-capitulo {
    font-size: 0.85rem;
    color: var(--texto-gris);
}


.lista-capitulos::-webkit-scrollbar {
    width: 8px;
}

.lista-capitulos::-webkit-scrollbar-track {
    background: var(--color-primario);
    border-radius: var(--radius);
}

.lista-capitulos::-webkit-scrollbar-thumb {
    background: var(--color-terciario);
    border-radius: var(--radius);
    border: 2px solid var(--color-primario);
}

.lista-capitulos::-webkit-scrollbar-thumb:hover {
    background: var(--color-secundario);
}

.ocultar-menu {
    display: none !important;
}

/* PAGINADOR */
.grid-paginas {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: auto 0px;
    padding: 10px 0;
}

.btn-pagina {
    background: var(--color-cuarternario);
    color: var(--color-terciario);
    border: 2px solid var(--color-secundario);
    padding: 8px 14px;
    font-size: 1rem;
    border-radius: var(--radius);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-pagina:hover {
    background: var(--color-secundario);
    color: var(--color-primario);
    border-color: var(--color-terciario);
    transform: scale(1.10);
}

.btn-pagina.pagina-activa {
    background: var(--color-terciario);
    color: var(--color-cuarternario);
    border-color: var(--color-terciario);
}

/* Animacion Botones */
.btn-vermas,
.btn-login,
.acciones-portada button {
    position: relative;
    overflow: hidden;
}

.btn-vermas::after,
.btn-login::after,
.acciones-portada button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 120%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    transition: 0.5s;
}

.btn-vermas:hover::after,
.btn-login:hover::after,
.acciones-portada button:hover::after {
    left: 150%;
}

.btn-vermas:hover,
.btn-login:hover,
.acciones-portada button:hover {
    transform: scale(1.08);
}

.fadeOut {
  animation: fadeOut .25s forwards;
}

.fadeIn {
  animation: fadeIn .25s forwards;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
