.popup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.popup.mostrar {
    opacity: 1;
    pointer-events: all;
}

.popup-contenido {
    background: var(--color-secundario);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--color-terciario);
    color: white;
    width: 300px;
    text-align: center;
}

.popup .btn-vermas{
        margin: 30px auto 0 auto;
        display: block;
}
