@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

:root {
    /* Opcion 1 */
    --color-primario: #162936;
    --color-secundario: #3b5265;
    --color-terciario: #27e9b5;
    --color-cuarternario: #051824;
    --color-background: rgba(0, 0, 0, 0.7);

    /* opcion 2 */
    /* --color-primario: #191e2b;
    --color-secundario: #00e6e6;
    --color-terciario: #253045;
    --color-cuarternario: #bfc0d1; */
}

body {
    font-family: 'Oswald';
    /* font-weight: 900; */
    /* margin: 0; */
}

/* Navegacion */
#navegacion {
    background-color: var(--color-secundario);
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 100;
    top: 0;
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.logo {
    grid-column: span 6 / span 6;
}

.buscador {
    grid-column: span 5 / span 5;
    grid-column-start: 7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconUser {
    grid-column-start: 12;
    display: inline-flex;
    align-items: center;
    justify-items: right;
}

#imgLogo {
    padding: 10px;
    height: 80px;
}

.campoLlenar {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.7em;
    border: none;
    outline: none;
    color: white;
    background-color: #ffffff;
}

/* Portada */
.seccion-destacados {
    margin-top: 100px;
    padding: 0;
}

.contenedor-portada {
    background-color: --color-primario;
    width: 100%;
    height: 450px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
}

.contenedor-portada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto-superpuesto {
  position: absolute;
  width: 100%;
  bottom: 0;  
  left: 0;    
  right: 0;     
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0; 
  text-align: center;
}


.acciones-portada button:hover {
    filter: brightness(1.2);
}

.form-filtros button:hover {
    filter: brightness(1.15);
}

.tarjeta-serie:hover {
    transform: translateY(-6px);
    border-color: var(--color-terciario);
}